html{
  scroll-behavior: smooth;
}
/* Above Header Section */
.Header{
  height: 50px;
  width: 100vw;
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color:#f5efd7;
}
.HeaderButton{
  height: 50px;
  width: 170px;
  position: relative;
  font-family: 'Roboto Mono', monospace;
  font-size: 25px;
  text-align: center;
  border: none;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  background-color: transparent;
}
.HeaderButton span{
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.HeaderButton span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.HeaderButton:hover span {
  padding-right: 25px;
}
.HeaderButton:hover span:after{
  opacity: 1;
  right: 0;
}


/* Home Section */
.App {
  background-image: url("../public/Images/Background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position:absolute;
  padding:0;
  margin:0;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
}
.Home{
  display: flex;
  align-items: center;
  justify-content: center;
  top: 20vh;
  position: relative;
}
.Headshot{
  width: 450px;
  border-radius: 50%;
  border: 5px solid;
}
#HomeHeader{
  width: 600px;
  text-align: center;
  text-decoration: underline 5px;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
}


/* About Me Section */
.AboutMe{
  background-image: url("../public/Images/Background.jpg");
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 100%;
  position: absolute;
}
.AboutMeContent{
  display: flex;
  flex-direction: column;
  padding-left: 60px;
}
.ComputerImage{
  width: 500px;
  border-radius: 50px;
  border-radius: 50px;
}
#AboutMeHeader{
  text-decoration: underline 5px;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
  line-height: 0px;
  letter-spacing: 5px;
}


/* Project Section */
.Projects{
  background-image: url("../public/Images/Background.jpg");
  height: 200vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 200%;
  position: absolute;
  flex-direction: column;
  gap: 200px;
}
.Project{
  display: flex;
}
.AISumProjectDescription{
  padding-left: 200px;
}
.AISumImage{
  border-radius: 50px;
  box-shadow: 0 4px 4px 0 rgba(255, 255, 255, 1);
  transition: 0.3s;
}
.AISumImage:hover{
  box-shadow: 0px 0px 8px 8px rgba(255, 255, 255, 1);
  transition: 0.3s;
}
#ProjectHeaderText{
  text-decoration: underline 5px;
  text-decoration-thickness: 2px;
  text-underline-offset: 15px;
  line-height: 0px;
  letter-spacing: 5px;
  text-align: center;
}
#ProjectContentText{
  padding-top: 50px;
}
.ProjectSkills{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 1em;
  width: 600px;
}
.ProjectButtonLinks{
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 18px;
}
.ProjectButton{
  width: fit-content;
  padding: 10px;
  border-radius: 5px;
  border: 0;
  background-color: #e4ddc1;
  transition: all .2s ease-in-out;
  font-family: 'Roboto Mono', monospace;
}
.ProjectButton:hover{
  transform: scale(1.1);
}
.ScannaImage{
  height: 450px;
  border-radius: 50px;
  margin-top: 100px;
  box-shadow: 0 4px 4px 0 rgb(207, 40, 40, 1);
  transition: 0.3s;
}
.ScannaImage:hover{
  box-shadow: 0px 0px 8px 8px rgb(207, 40, 40, 1);
  transition: 0.3s;
}
.ScannaProjectDescription{
  padding-right: 100px;
}
#ContentLists{
  width: 600px;
  display: flex;
}
#ScannaButtonLinks{
  justify-content: right;
}
#ScannaTitle{
  display: flex;
  justify-content: space-evenly;
}
.ScannaGithubButton{
  margin-top: 60px;
}


/* Dynamic Classes */
.HeaderText{
  font-family: 'Roboto Mono', monospace;
  font-size: 35px;
  display: flex;
  justify-content: center;
}
.Skills{
  font-family: 'Roboto Mono', monospace;
  background-color: #e4ddc1;
  padding: 7px;
  border-radius: 5px;
  display: flex;
  gap: 10px;
  transition: all .2s ease-in-out;
}
.Skills:hover{
  transform: scale(1.1);
}
.ContentDescription{
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  width: 600px;
}